<!--- Top Bar Start --->
<div class="lc-header-wrapper">

    <div class="lc-topbar">

        <div class="container">

            <div class="lc-topbar-wrapper">

                <div class="lc-topbar-left">

                    <a href="tel:+18001234567">
                        <i class="bi bi-telephone-fill"></i>
                        +1 (800) 123 4567
                    </a>

                    <a href="mailto:info@legalconsulting.com">
                        <i class="bi bi-envelope-fill"></i>
                        info@legalconsulting.com
                    </a>

                </div>

                <div class="lc-topbar-right">

                    <span>
                        <i class="bi bi-clock-fill"></i>
                        Mon - Fri : 9:00 AM - 6:00 PM
                    </span>

                </div>

            </div>

        </div>

    </div>

    <!--- Top Bar End --->





    <!--- Navbar Start --->

    <header class="lc-header">

        <div class="container">

            <nav class="lc-navbar">

                <!-- Logo -->

                <a href="index.html" class="lc-logo">

                    <!-- Replace with Logo -->
                    <img src="assets/images/barnd-logo.webp" alt="barnd-logo">

                </a>




                <!-- Navigation -->

                <ul class="lc-nav-menu">

                    <li><a href="index.html" class="active">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="case-studies.html">Case Studies</a></li>
                    <li><a href="contact.html">Contact</a></li>

                </ul>





                <!-- Right Side -->

                <div class="lc-navbar-right">

                    <a href="contact.html" class="lc-btn"><i class="bi bi-briefcase-fill"></i>Free Consultation</a>

                    <!-- Mobile Menu -->

                    <button class="lc-menu-toggle"><i class="bi bi-list"></i></button>

                </div>

            </nav>

        </div>

    </header>

</div>
<!--==================== Mobile Menu ====================-->

<div class="lc-mobile-overlay"></div>

<div class="lc-mobile-menu">

    <div class="lc-mobile-header">

        <a href="index.html" class="lc-mobile-logo">
            <img src="assets/images/barnd-logo.webp" alt="barnd-logo">
        </a>

        <button class="lc-close-menu">
            <i class="bi bi-x-lg"></i>
        </button>

    </div>

    <ul class="lc-mobile-nav">

        <li><a href="index.html" class="active">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="services.html">Services</a></li>
        <li><a href="case-studies.html">Case Studies</a></li>
        <li><a href="contact.html">Contact</a></li>

    </ul>

    <div class="lc-mobile-bottom">

        <a href="contact.html" class="lc-btn"><i class="bi bi-briefcase-fill"></i>Free Consultation</a>

        <div class="lc-mobile-social">

            <a href="404.html"><i class="bi bi-facebook"></i></a>

            <a href="404.html"><i class="bi bi-linkedin"></i></a>

            <a href="404.html"><i class="bi bi-instagram"></i></a>

            <a href="404.html"><i class="bi bi-twitter-x"></i></a>

        </div>

    </div>

</div>

<!--- Navbar End --->